#root{
margin: 0 auto;
    width: 680px;
}
body{
    background-color: #2c3e50;
}
#firstRow{
width: 600px;
    height: 60px;
    margin-top: 10px;
}
#secondRow{
width: 600px;
    height: 60px;
    margin-left: 25px;
}
#logo{
    height: 60px;
    margin-left: 60px;
    margin-top: 5px;
    
}
#thirdRow{
width: 600px;
    height: 60px;
    margin-left: 50px;
}
#keyboard{
    width: 680px;
    height: 200px;
    border-top: 3px solid #3e3e3e;
    list-style: none;
    background-color: #1a2025;
    color: white;
    font-weight: bold;
}


    #keyboard li {  
float: left;
    margin: 5px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 100%;
    border: 2px solid #f5f5f5;
    }

    #keyboard li:hover {  
        background-color: rgb(123, 120, 120);
        cursor: pointer;
    }


#lamps{
 width: 680px;
    height: 200px;
    border-top: 3px solid #272727;
    list-style: none;
    background-color: #2b343c;
    color: white;
    font-weight: bold;
}
        #lamps li {  
float: left;
    margin: 5px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 100%;
    border: 2px solid #f5f5f5;
    }
    #lamps .glowing{
        background-color: sandybrown;
        box-shadow: 0px 0px 40px darkorange, 0px 0px 20px yellow;

    }
#settings{
    width: 680px;
    height: 260px;
    background-color: #3b454e;
    padding-top: 20px;
}
ul{
    margin: 0;
}
#choseSlots{
height: 230px;
    /* margin: 0 auto; */
    padding: 0px;
    width: 180px;
    float: left;
}
#choseSlots .slot{
    /* float: left; */
    /* height: 45px; */
    width: 160px;
    display: flex;
    height: 45px;
    outline: 1px dotted;

}


.rotor i {
color: whitesmoke;
    width: 30px;
    text-align: center;
    padding: 0px;
    float: left;
}
.rotor i:hover {
    cursor: pointer;
    color: #fff6c7;
}
.rotor #position{
color: darkgoldenrod;
    font-weight: bold;
    text-align: center;
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: x-large;
    float: left;
    
}
.rotor .label{
color: whitesmoke;
    width: 40px;
    text-align: center;
    display: inline-block;
    line-height: 40px;
    float: left;
}



.rotor  .select{
    color: whitesmoke;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #6f767f;
    margin: 0 auto;
    border: 2px solid #232323;
    line-height: 25px;
    display: block;
} 


.rotor .select:hover {
    cursor: pointer;
    
}
.rotor .visible{
    visibility: visible;
    background-color: #50a03d;
}

#slots{
        height: 220px;
    /* width: 230px; */
    /* outline: 5px dotted; */
    float: left;
}
#slots .slot{
outline: 5px dotted;
    height: 100%;
    width: 60px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}
#slots .slot .rotor .label{
width: 100%;
}
#slots .slot .rotor i{
width: 100%;
}
#slots .slot .rotor #position{
width: 100%;
}

#slots .slot .rotor{
    height: 100%;
}
#choseSlots .slot .rotor:hover{
    outline: 4px solid white;
}

#slots .selected{
    outline-color: lawngreen;
}

#choseSlots .selected{
    outline: 2px solid  lawngreen;
}